<div>
    <ul class="sidebar">
        <li class="sidebar__element">
            <label class="sidebar__label">
                <input type="checkbox"/>All relations
            </label>
        </li>
        {{#each this}}
            <li class="sidebar__element">
                <label class="sidebar__label">
                    <input type="checkbox" id="{{id}}"/>{{name}}
                </label>
            </li>
        {{/each}}
    </ul>
</div>
